.main{
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
}

.label{
    color: #1E1915;
}



/* color: #1E1915;
font-size: 16px;
font-weight: 400;
margin-bottom: 8px;

transition: all .1s linear;
font-family: "Proxima Nova",sans-serif;

width: 100%;
margin-right: 0;



border: 1px solid #a6a6a6;
border-top-color: #949494;
border-radius: 24px!important;
box-shadow: none!important;
outline: 0;



btn

position: absolute;
background-color: transparent;
color: transparent;
border: 0;
cursor: pointer;
height: 100%;
width: 100%;
left: 0;
top: 0;
opacity: .01;
outline: 0;
overflow: visible;
z-index: 20; */
